.sidebar {
    z-index: 1;
}

/* delete popup */
.delete-popup {
    border-radius: 10px;
    border-width: 1px;
    background: #ffd6c1;
    padding: 1em;
    position: absolute;
    display: none;
    z-index: 1;
}

/* head office form */
#form-create-head-office {
    display: none;
}

/* block quote */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

/* bio updating form */
#form-update-bio {
    display: none;
}

/* delete location popup */
.delete-location-popup  {
    display: none;
    position: absolute;
    z-index: 1;
}

/*prompt when passwords dont match while signing up*/
#unmatched-passwords-alert {
    display: none;
    transition: 0.5s;
}

/* location updating form */
.form-update-location {
    display: none;
}

/* location addition form */
#form-add-location {
    display: none;
}

/* contacts form */
#contacts-form {
    display: none;
    transition: .5s;
}

/*prompt admin on deletion of user*/
.user-delete-popup {
    display: none;
    position: absolute;
    margin-left: 20%;
    top: 5%;
    background: #d9c10a;
    border-radius: 10px;
    padding-left: 1em;
    padding-bottom: 10px;
}

/* comment */
#comment-box {
    display: none;
    transition: 0.5s;
}

/*post id holder*/
#post-id-holder {
    display: none;
}

/* hide the comment reply forms initially */
.reply-comment-form {
    display: none;
    transition: 0.5s;
}

@media only screen and (max-width:576px) {
    .delete-popup {
        width: 90%;
    }
}

@media only screen and (min-width:577px) {
    .delete-popup {
        width: 50%;
        left: 4em;
    }
}

@media only screen and (min-width:768px) {
    .delete-popup {
        width: 30%;
        left: 20%;
    }
}

/* end delete popup */

#sidebar {
    display: none;
}

#sidebar p {
    margin-left: 1em;
}

#sidebar-close-icon {
    font-size: 2em;
    cursor: pointer;
}

#sidebar-toggler {
    cursor: pointer;
}

/* small screens */
@media (max-width:575px) {
    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: initial !important;
    }

    #sidebar-toggler {
        font-size: 2em;
    }
}

/* medium screens */
@media (min-width:576px) {
    .hide-md {
        display: none !important;
    }

    .show-md {
        display: initial !important;
    }

    .w-md-50 {
        width: 50% !important;
    }
}

/* xs screens */
@media (max-width:273px) {
    .hide-xs {
        display: none !important;
    }

    .show-xs {
        display: initial !important;
    }

    #sidebar-toggler {
        font-size: 1.3em;
    }
}

@media (max-width:350px) {
    .login-form {
        width: 95% !important;
    }
}

/* post image for small screens*/
@media only screen and (max-width:768px) {
    .post-image {
        width: 100%;
        height: auto;
    }
}